opinionated-configparser
cerberus
gitignore-parser
filelock
terminaltables3
ConfigUpdater
lazy-import
git+https://github.com/metwork-framework/mfutil.git#egg=mfutil
git+https://github.com/metwork-framework/mflog.git#egg=mflog
git+https://github.com/metwork-framework/envtpl.git#egg=envtpl
